@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

#webgl{
  height: 100vh !important;
  z-index: 0;
  position: absolute !important;
}

#webgl-about{
  height: 100vh !important;
  z-index: 0;
  position: absolute !important;
}

@media screen and (max-width: 820px) {
   #webgl-about {
    display: none !important;
    height: 0px !important;
   }
}

@font-face {
  font-family: "Detacher";
  src: url(../assets/fonts/detacher/Detacher-Regular.otf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter/static/Inter-Thin.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Larken DEMO";
  src: url(../assets/fonts/Larken/LarkenDEMO-Regular.otf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url(../assets/fonts/Sora/static/Sora-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url(../assets/fonts/Sora/static/Sora-Light.ttf);
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Sora";
  src: url(../assets/fonts/Sora/static/Sora-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "BiomeW04-Regular";
  src: url(../assets/fonts/Biome-W01-Regular-1.ttf);
  font-weight: 400;
  font-display: swap;
}